## Examen realizado entre Sebastián Ochoa y José Miguel Salazar

In [39]:
import pandas as pd
from pipeline import Pipeline

LAKERS (2022-2023)

In [40]:
pipeline_lakers_2022_2023 = Pipeline([2022],17,'data')
pipeline_lakers_2022_2023.run()

Guardando archivo en: data\17_in[2022]_games.csv

DENVER (2022-2023)

In [4]:
pipeline_denver_2022_2023 = Pipeline([2022,2023],9,'data')
pipeline_denver_2022_2023.run()

Guardando archivo en: data\9_in[2022, 2023]_games.csv

Poner una columna de identificación

In [5]:
data_denver = pipeline_denver_2022_2023.data
data_lakers = pipeline_lakers_2022_2023.data

data_denver['team'] = 'denver'
data_lakers['team'] = 'lakers'

Unficar los DataFrames

In [15]:
df_all = pd.concat([data_lakers, data_denver], ignore_index=True)

df_all = df_all.drop_duplicates(subset='id', keep='first')

Exportación a Excel

In [ ]:
df_all.to_excel('Denver_Lakers_2022_2023.xlsx', index=False)

Analisis de nulos

In [17]:
null_counts = df_all.isnull().sum()
print("Cantidad de datos nulos por columna:")
print(null_counts)

Cantidad de datos nulos por columna:
id                            0
season                        0
stage                         0
date.start                    0
arena.name                   29
arena.city                   29
arena.state                  29
teams.visitors.id             0
teams.visitors.name           0
teams.visitors.nickname       0
teams.visitors.code           0
teams.home.id                 0
teams.home.name               0
teams.home.nickname           0
teams.home.code               0
scores.visitors.linescore     0
scores.visitors.points        0
scores.home.linescore         0
scores.home.points            0
winner                        0
diferencia_puntos             0
team                          0
dtype: int64

Uso de value value_couuntrs

In [ ]:

print('Frecuencia ganadores en partido de los lakers')
print(data_lakers['winner'].value_counts())
print('Frecuencia ganadores en partido de denver')
print(data_denver['winner'].value_counts())
print("Frecuencia de ganadores contra los lakers y denver:")
print(df_all['winner'].value_counts())

Frecuencia de ganadores contra los lakers y denver:
winner
Denver Nuggets            141
Houston Rockets            72
Minnesota Timberwolves     16
Phoenix Suns                9
Dallas Mavericks            9
LA Clippers                 9
Oklahoma City Thunder       9
Sacramento Kings            9
New Orleans Pelicans        8
Los Angeles Lakers          7
Golden State Warriors       7
Utah Jazz                   7
Memphis Grizzlies           6
Portland Trail Blazers      6
Philadelphia 76ers          6
New York Knicks             6
Orlando Magic               6
San Antonio Spurs           6
Miami Heat                  6
Chicago Bulls               5
Atlanta Hawks               4
Milwaukee Bucks             4
Indiana Pacers              4
Toronto Raptors             4
Brooklyn Nets               4
Boston Celtics              4
Cleveland Cavaliers         4
Washington Wizards          1
Charlotte Hornets           1
Detroit Pistons             1
Name: count, dtype: int64
Frecuencia ganadores en partido de los lakers
winner
Houston Rockets           72
Golden State Warriors      7
Minnesota Timberwolves     6
Dallas Mavericks           6
LA Clippers                6
New Orleans Pelicans       5
Portland Trail Blazers     5
Miami Heat                 5
Memphis Grizzlies          5
Sacramento Kings           5
Denver Nuggets             4
Indiana Pacers             4
San Antonio Spurs          4
Los Angeles Lakers         4
Oklahoma City Thunder      4
New York Knicks            3
Phoenix Suns               3
Atlanta Hawks              3
Toronto Raptors            3
Utah Jazz                  3
Orlando Magic              3
Brooklyn Nets              3
Boston Celtics             3
Philadelphia 76ers         3
Cleveland Cavaliers        3
Milwaukee Bucks            2
Chicago Bulls              2
Washington Wizards         1
Charlotte Hornets          1
Name: count, dtype: int64
Frecuencia ganadores en partido de denver
winner
Denver Nuggets            141
Minnesota Timberwolves     10
Phoenix Suns                6
Oklahoma City Thunder       5
Utah Jazz                   4
Houston Rockets             4
Sacramento Kings            4
Chicago Bulls               3
Los Angeles Lakers          3
New York Knicks             3
Orlando Magic               3
LA Clippers                 3
New Orleans Pelicans        3
Dallas Mavericks            3
Philadelphia 76ers          3
Milwaukee Bucks             2
San Antonio Spurs           2
Portland Trail Blazers      1
Detroit Pistons             1
Boston Celtics              1
Memphis Grizzlies           1
Atlanta Hawks               1
Miami Heat                  1
Brooklyn Nets               1
Toronto Raptors             1
Cleveland Cavaliers         1
Name: count, dtype: int64

Uso del group.by

In [11]:
print("Total de puntos de visitante por equipo consultado:")
print(df_all.groupby('team')['scores.visitors.points'].sum())

Total de puntos de visitante por equipo consultado:
team
denver    23041
lakers    19802
Name: scores.visitors.points, dtype: int64

Uso del quiery

In [13]:
print("Partidos con diferencia de puntos mayor o igual a 10:")
df_big_dif = df_all.query("diferencia_puntos >= 10")
df_big_dif.head()

Partidos con diferencia de puntos mayor o igual a 10:

,id,season,stage,date.start,arena.name,arena.city,arena.state,teams.visitors.id,teams.visitors.name,teams.visitors.nickname,...,teams.home.name,teams.home.nickname,teams.home.code,scores.visitors.linescore,scores.visitors.points,scores.home.linescore,scores.home.points,winner,diferencia_puntos,team
0,10986,2022,1,2022-10-02 23:00,Toyota Center (Houston),Houston,TX,31,San Antonio Spurs,Spurs,...,Houston Rockets,Rockets,HOU,"[17, 20, 30, 29]",96,"[30, 32, 35, 37]",134,Houston Rockets,38,lakers
1,11011,2022,1,2022-10-08 00:00,Toyota Center (Houston),Houston,TX,38,Toronto Raptors,Raptors,...,Houston Rockets,Rockets,HOU,"[29, 27, 23, 21]",100,"[28, 37, 27, 24]",116,Houston Rockets,16,lakers
4,11054,2022,2,2022-10-19 23:30,State Farm Arena,Atlanta,GA,14,Houston Rockets,Rockets,...,Atlanta Hawks,Hawks,ATL,"[20, 30, 30, 27]",107,"[26, 33, 25, 33]",117,Atlanta Hawks,10,lakers
6,11082,2022,2,2022-10-23 00:00,Fiserv Forum,Milwaukee,WI,14,Houston Rockets,Rockets,...,Milwaukee Bucks,Bucks,MIL,"[23, 25, 31, 26]",105,"[41, 26, 31, 27]",125,Milwaukee Bucks,20,lakers
9,11129,2022,2,2022-10-29 02:00,Moda Center,Portland,OR,14,Houston Rockets,Rockets,...,Portland Trail Blazers,Trail Blazers,POR,"[23, 35, 24, 29]",111,"[32, 37, 27, 29]",125,Portland Trail Blazers,14,lakers